@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* .app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
.banner{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: deepskyblue;
  text-align: center;
  z-index: -1;
}


h1{
  margin: 0 auto;
  font-family: 'Outfit', sans-serif;
  color: white;
}


.type{
  margin-top: 2rem;
  width: 10rem;
  height: 2rem;
  /* padding: 1rem; */
}

.drop{
  margin: 1rem 0rem;
  width: 25rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: .5rem;
  border: none;
  border-radius: 5px;
}


.top{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  position: relative;
  top: 3rem;
  /* padding-top: 3rem; */
}

.cont{
  display: grid;
  margin:  0 auto;
  margin-top: 6rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  /* background-color: white; */
}


.lis{
  width: 5rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 20%;
  border: none;
  /* text-align: center; */
  font-size: 1.1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.list {
  grid-template-columns: 1fr;
  /* background-color: black; */
}
.list .items{
  display: flex;
  flex-direction: row;
  /* background-color: #666; */
  /* justify-content: space-between; */
  width: 80%;
  height:  15rem;
  /* padding: 1.3rem;
  border-radius: 2rem; */
 
}



.list .items .imgBx{
  position: relative;
  width: 40%;
  height: 240px;
}

.list .items .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list .items .text{
  font-family: 'Outfit', sans-serif;
  /* color: aqua; */
  /* margin-left: 10rem; */
}


.items {
    /* float: left; */
    margin: 0 auto;
    width: 80%;
    padding: 0px;
    /* background-color: rgb(255, 11, 11); */
    display: flex;
    /* flex-direction: row; */
    /* border-radius: 20px; */
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* border: 2px solid black; */
    margin-bottom: 2rem;
    height: 25rem;
    margin-top: 1.5rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 33%), 0 6px 20px 0 rgb(0 0 0 / 39%);
    transition: .1s ease-in-out;
}



.imgBx{
  position: relative;
  /* border-radius: 2rem; */
  width: 100%;
  height: 232px;
}

.imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  object-position: center;
}

.items:hover{
  transform: scale(1.025);
  cursor: pointer;
}

.text {
  font-family: 'Outfit', sans-serif;
  font-size: 1.1rem;
  /* margin-top: 1rem; */
  padding: 1rem;
  line-height: 1.6rem;
}

.text p{
  color: rgb(5, 5, 5);
}



@media screen and (max-width:1024px) {
  .drop{
    left: 35%;
    /* margin-right: 5rem; */
  }
  .cont{
    width: 90%;
  }
  .items{
    width: 95%;
  }
}
@media screen and (max-width:768px){
  .drop{
    /* margin: 0.5rem auto; */
    margin-right: 4rem;
    position: relative;
    left: 3.6rem;
  }


  .cont{
    grid-template-columns: 1fr 1fr;
  }
  .list{
    grid-template-columns: 1fr;
  }
  .list .items .imgBx{
    width: 75%;
  }
}
@media screen and (max-width:425px){
  .top{
    right: 1.5rem;
  }
  .items{
    width: 80%;
  }
  .cont{
    grid-template-columns: 1fr;
  }

  .lis{
    display: none;
  }
}

